body {
    background-color: #7ecbff;
    margin: 10px;
}

.dourado {
    color: rgb(177, 174, 1)
}

h2 {
    color: rgb(53, 109, 1)
}
.red {
    color: rgb(255, 25, 9)
}

.text-size1 {
    font-size: 130%;
}

.text-size2 {
    font-size: 300%;
}