#elemento { 
    margin-top: 15px; 
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 35px;
}

body {
    background-color: #7ecbff;
}

.dourado {
    color: rgb(177, 174, 1)
}

h2 {
    color: rgb(53, 109, 1)
}
.red {
    color: rgb(255, 25, 9)
}
.123 {
    width: 10px;
    height: 10px;
    margin: 10px;
    padding: 10px;
    border: 10px;
}


