{% extends 'base.html' %}
{% block title %}Passo 2{% endblock %}
{% block content %}
    
    <p>Obrigado{% if name %}, {{ name }}{% endif %}. Funcionou e a porta abriu!</p>
    <p>Agora que entramos em casa encontrei duas portas. Na porta da esquerda diz WC. A da direita está trancada com um cadeado de 3 dígitos.</p>
    <p>Entrei na porta da esquerda e vi uma sanita. Na parede tinha frases escritas. Vejam:</p>
    <img src="/static/Frases WC passo 2.png" alt="">
    <p>Será que isto nos leva ao código do cadeado? Ajuda-me!</p>
    <p></p>
    <a href="/568"><button>568</button></a>
    <p></p>
    <a href="/359"><button>359</button></a>
    <p></p>
    <a href="/937"><button>937</button></a>
    <p></p>
    <a href="/539"><button>539</button></a>
    <p></p>
    <a href="/953"><button>953</button></a>
    <p></p>
    <a href="/935"><button>935</button></a>
    <p></p>
{% endblock %}
