{% extends 'autenticar.html' %}
{% block title %}Passo 3{% endblock %}
{% block content %}
    
    <p>Obrigado{% if name %}, {{ name }}{% endif %}! A porta abriu!</p>
    <p>Agora estou numa sala abandonada, com as paredes envelhecidas, um sofá velho, um armário partido, uma mesa de madeira antiga e uma cadeira sem uma perna... vamos ao que interessa!</p>
    <p>Estava uma cassete em cima da mesa velha. Vi a cassete e tinha uma foto de uma parede com números por esta ordem:</p>
    <p>360</p>
    <p>480</p>
    <p>600</p>
    <p>720</p>
    <p>840</p>
    <p>960</p>
    <p>E por fim 1080!</p>
    <p>Tem também um armário com um cadeado de 3 dígitos!</p>
    <p>O que querem dizer com estes números? Será que estes números têm alguma ligação entre si? Preciso da tua ajuda!</p>
    <p></p>
    <a href="/110"><button type="button" class="btn btn-dark">110</button></a>
    <a href="/120"><button type="button" class="btn btn-secondary">120</button></a>
    <a href="/440"><button type="button" class="btn btn-primary">440</button></a>
    <a href="/180"><button type="button" class="btn btn-success">180</button></a>
    <a href="/500"><button type="button" class="btn btn-warning">500</button></a>
    <a href="/530"><button type="button" class="btn btn-danger">530</button></a>
    <p></p>
{% endblock %}
