{% extends 'base.html' %}
{% block title %}Passo 4{% endblock %}
{% block content %}
    
    <p>Consegui abrir o armário! Lá dentro tinha a seguinte carta e um cofre de 3 dígitos:</p>
    <p><img src="/static/CARTA.png" alt="CARTA.png" width=600 height=400><img src="/static/cofre.jpg" alt="cofre.jpg" width=600 height=400></p>
    <p>Aquela carta não me parecia ser para ir ter ao largo verdadeiramente. Eles não iam ficar lá toda a vida... Deve ser uma pista para abrir o cofre!</p>
    <p>Não estou a ver qual é a pista. Ajuda-me!</p>
    <a href="/414"><button>414</button></a>
    <p></p>
    <a href="/663"><button>663</button></a>
    <p></p>
    <a href="/333"><button>333</button></a>
    <p></p>
    <a href="/953"><button>953</button></a>
    <p></p>
    <a href="/963"><button>963</button></a>
    <p></p>
    <a href="/854"><button>854</button></a>
    <p></p>
{% endblock %}
