<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passo 6 | Caça ao tesouro</title>
    <link REL="SHORTCUT ICON" href="/static/Caça ao tesouro icone.jpg">
    <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
    <h1>Obrigado Colega!</h1>
    <p>No PDF estava escrito uma morada:</p>
    <p>Rua das Flores, nº49, Portugal</p>
    <p>Fomos lá procurar e encontrámos mais uma casa abandonada. Passámos o portão de ferro muito enferrujado e vimos uma porta com um cadeado de 3 dígitos. Na parede estava um autocolante. <a href="https:/www.google.com/" target="_blank" >O que significará? </a></p>
    <p><img src="/static/Braile.png" alt=""></p>
    <p></p>
    <p>Ajuda-me colega! Qual é o código?</p>
    <a href="/520"><button>520</button></a>
    <p></p>
    <a href="/140"><button>140</button></a>
    <p></p>
    <a href="/145"><button>145</button></a>
    <p></p>
    <a href="/555"><button>555</button></a>
    <p></p>
    <a href="/620"><button>620</button></a>
    <p></p>
    <a href="/220"><button>220</button></a>
    <p></p>
</body>
</html>

