{% extends 'autenticar.html' %}
{% block title %}Passo 7{% endblock %}
{% block content %}
    
    <h1>Obrigado pela tua ajuda!</h1>
    <p>Conseguimos entrar na casa. Na casa encontrámos duas portas trancadas, era impossível abrir sem destruir. A casa só tinha aquela divisão com as duas portas. Na parede estavam fios e dizia em cima "A ordem dos fios é a mesma ordem para desarmar uma bomba... ou abre a porta certa ou explode o tesouro!".</p>
    <p>Só me lembro de algumas regras para desarmar uma bomba... será que com estas regras chegamos lá?</p>
    <p>O fio roxo tinha de se cortar depois do amarelo;</p>
    <p>O fio lilás tinha de se cortar antes do azul;</p>
    <p>O fio amarelo tinha de ser cortado depois do vermelho;</p>
    <p>O fio lilás tinha de ser cortado depois do branco;</p>
    <p>O fio verde tinha de ser cortado antes do branco</p>
    <p>O fio verde é a seguir ao fio roxo.</p>
    <p>Ajuda-me{% if name %}, {{ name }}{% endif %}! Qual será a ordem correta?</p>
    <p></p>
    <a href="/vralbva"><button type="button" class="btn btn-dark">Vermelho, roxo, azul, lilás, branco, verde, amarelo</button></a>
    <a href="/vaavlrb"><button type="button" class="btn btn-secondary">Vermelho, amarelo, azul, verde, lilás, roxo, branco</button></a>
    <a href="/arvblav"><button type="button" class="btn btn-primary">Amarelo, Roxo, Verde, Branco, Lilás, azul, Vermelho</button></a>
    <p></p>
    <a href="/varvbla"><button type="button" class="btn btn-success">Vermelho, amarelo, roxo, verde, branco, lilás, azul</button></a>
    <a href="/avrlbav"><button type="button" class="btn btn-warning">Amarelo, verde, roxo, lilás, branco, azul, vermelho</button></a>
    <p></p>
{% endblock %}
