{% extends 'base.html' %}
{% block title %}Passo 8{% endblock %}
{% block content %}
    
    <h1>Obrigado{% if name %}, {{ name }}{% endif %}! Estás a ajudar-me imenso!</h1>
    <p>A porta da esquerda abriu-se. Lá dentro estava uma carta que não consegui ler e um cofre de 4 dígitos.</p>
    <img src="/static/carta que n se le.png" alt="">
    <p>Ajuda-me. Qual é o código?</p>
    <p></p>
    <a href="/1550"><button>1 550</button></a>
    <p></p>
    <a href="/8650"><button>8 650</button></a>
    <p></p>
    <a href="/9450"><button>9 450</button></a>
    <p></p>
    <a href="/8450"><button>8 450</button></a>
    <p></p>
    <a href="/7650"><button>7 650</button></a>
    <p></p>
    <a href="/1650"><button>1 650</button></a>
{% endblock %}
