{% extends 'base.html' %}
{% block title %}Passo 9{% endblock %}
{% block content %}
    
    <h1>Obrigado{% if name %}, {{ name }}{% endif %}!</h1>
    <p>Dentro do cofre está um papel com um código morse. Ajuda-me!</p>
    <p><img src="/static/codigo-morse.jpg" alt="">
    <audio controls>
        <source src="/static/códigomorsepasso9_lento.mp3" type="audio/mpeg">
              
    </audio></p>
    <p>Qual é o código?</p>
    <p></p>
    <a href="/340"><button>340</button></a>
    <p></p>
    <a href="/880"><button>880</button></a>
    <p></p>
    <a href="/345"><button>345</button></a>
    <p></p>
    <a href="/op4"><button>145</button></a>
    <p></p>
    <a href="/845"><button>845</button></a>
    <p></p>
    <a href="/240"><button>240</button></a>
{% endblock %}
