<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passo 9 | Caça ao tesouro</title>
    <link REL="SHORTCUT ICON" href="/static/Caça ao tesouro icone.jpg">
    <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
    <h1>Obrigado colega!</h1>
    <p>Dentro do cofre está um papel com um código morse. Ajuda-me!</p>
    <p><img src="/static/codigo-morse.jpg" alt="">
    <audio controls>
        <source src="/static/códigomorsepasso9_lento.mp3" type="audio/mpeg">
              
    </audio></p>
    <p>Qual é o código?</p>
    <p></p>
    <a href="/340"><button>340</button></a>
    <p></p>
    <a href="/880"><button>880</button></a>
    <p></p>
    <a href="/345"><button>345</button></a>
    <p></p>
    <a href="/op4"><button>145</button></a>
    <p></p>
    <a href="/845"><button>845</button></a>
    <p></p>
    <a href="/240"><button>240</button></a>
</body>
</html>
