<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} | Caça ao Tesouro Virtual</title>
    <link REL="SHORTCUT ICON" href="/static/Caçaaotesourovirtual.png">
    <link rel="stylesheet" href="/static/style.css">
    
</head>
<body>
    <div class="container">
        {% block logout %}{% endblock %}
        {% block dentro %}{% endblock %}
    </div>
</body>
</html>
