{% extends 'base.html' %}
{% block title %}Passo 2{% endblock %}
{% block content %}
    
    <h1>A descoberta</h1>
    <p>Obrigado{% if name %}, {{ name }}{% endif %}! Ajudaste-me imenso nesta busca!</p>
    <p>O armário abriu com o código que disseste! Lá dentro estava um postal com a inscrição:</p>
    <p>"PARABÉNS! CONSEGUISTE. </p>
    <p>ISTO É UM JOGO! VOLTA A DEIXAR TUDO COMO ENCONTRASTE PARA QUE OUTROS SE POSSAM DIVERTIR TAMBÉM!"</p>
    <p>Ups, parece que o tesouro era "pura diversão" 😄</p>  
    <p>Espero que te tenhas divertido tanto quanto eu!</p>
    <img src="/static/2 foguetes.png" alt="">
{% endblock %}
