{% extends 'autenticar.html' %}
{% block title %}Início{% endblock %}
{% block content %}
    
<div classe="dourado"><h1><img src="/static/Caça ao tesouro icone.jpg" alt="" width=80 height=60>   Caça ao Tesouro Virtual</h1></div>

    <h2>Bem-vindo à caça ao tesouro virtual{% if name %}, {{ name }}{% endif %}!!!🔎</h2>

    <div class="red">
        <h3>Para fazer esta caça ao tesouro virtual usem preferencialmente o Google Chroome  (não pode ser o Internet Explorer).</h3>
        <h3>Caso errem façam "retroceder" no browser.</h3>
    </div>
    <p>----</p>
    <h4>Há alguns dias encontrei um mapa antigo num monumento de Lisboa.</h4>
    <h4>Acho que me vai levar a um tesouro escondido!</h4>
    <h4>Quem escondeu o tesouro deixou pistas muito difíceis de decifrar, para só os investigadores mais astutos o descobrirem.</h4>
    <h4>Ajudas-me?</h4>
    <b>Estão prontos? Cliquem em baixo para iniciar.</b>
    <p></p>
    <p><a href="/inicio"><button type="button" class="btn btn-warning">▶Iniciar</button></a></p>
{% endblock %}
