<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passo 1 | Caça ao tesouro</title>
    <link REL="SHORTCUT ICON" href="/static/Caça ao tesouro icone.jpg">
    <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
    <p>Obrigado por me ajudares!</p>
    <p>O mapa levou-me a uma rua de Lisboa. Era uma casa. A casa estava abandonada e a porta era fácil de abrir.</p>
    <p>Mais à frente tinha outra porta de ferro presa por um cadeado de 3 dígitos. No chão estavam 3 CDs e na porta estava colado um poster com uma imagem de uma prateleira.</p>
    <p>Não consigo decifrar. Preciso da tua ajuda!</p>
    <img src="/static/cadeado passo 1.png" alt="">
    <p>   </p>
    <p>Disco 1</p>
    <audio controls>
        <source src="/static/passo1_1.mp3" type="audio/mpeg">
          
    </audio>
    <p>Disco 2</p>
    <audio controls>
        <source src="/static/passo1_2.mp3" type="audio/mpeg">
          
    </audio>
    <p>Disco 3</p>
    <audio controls>
        <source src="/static/passo1_3.mp3" type="audio/mpeg">
          
    </audio>
    <p><img src="/static/Prateleira.png" alt=""></p>
    
    <p>Qual é o código?</p>
    <a href="/564"><button>564</button></a>
    <p></p>
    <a href="/645"><button>645</button></a>
    <p></p>
    <a href="/946"><button>946</button></a>
    <p></p>
    <a href="/695"><button>695</button></a>
    <p></p>
    <a href="/964"><button>964</button></a>
    <p></p>
    <a href="/659"><button>659</button></a>
    <p></p>
</body>
</html>
